* {
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif;
}

img {
  max-width: 100%;
}

/* common styles */
.common-btn {
  background-color: #fd6e0a;
  font-size: 20px;
  font-weight: 600;
  color: #ffffff;
  padding: 10px 17px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
.outline-btn {
  background-color: #ffffff;
  font-size: 20px;
  font-weight: 600;
  color: #fd6e0a;
  padding: 10px 17px;
  border-radius: 10px;
  border: 1px solid #fd6e0a;
  cursor: pointer;
}
.common-btn:hover {
  background-color: white;
  color: #fd6e0a;
}
.outline-btn:hover {
  background-color: #fd6e0a;
  color: white;
}
.container {
  max-width: 1100px;
  margin: auto;
}

/* nav styles */
nav {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
}
.logo {
  font-size: 35px;
  font-weight: 800;
}
.logo-r {
  color: #fd6e0a;
}

ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 20px;
}

li a {
  text-decoration: none;
  color: #474747;
}

/* hero/banner styles */
.hero-root {
  background: #fff8f3;
}
.hero-parent {
  margin-top: 50px;
  display: flex;
  align-items: center;
}

.hero-parent h4 {
  color: #474747;
  font-size: 600;
  font-size: 35px;
  margin-bottom: 15px;
}
.hero-parent h2 {
  color: #181818;
  font-size: 700;
  font-size: 55px;
  margin-bottom: 15px;
}
.hero-parent p {
  color: #757575;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 15px;
}

/* About me styles */
.about-me-parent {
  background-color: #fff8f3;
  margin-top: 70px;
  margin-bottom: 50px;
  padding: 110px 100px;
  text-align: center;
  border-radius: 10px;
}
.about-me-parent h3 {
  margin-bottom: 20px;
  font-size: 30px;
  color: #181818;
}
.about-me-parent p {
  font-size: 18px;
  color: #757575;
}
.about-me-info-parent {
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
}

.about-me-info-parent .info-box {
  padding: 15px;
  border-radius: 10px;
  background-color: #c4c4c4;
}
